<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
	<title>Index</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
	
		<!-- Content -->
		<div id="content" layout:fragment="content">
			<h1 th:text="#{listCategories}"></h1>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th><div th:text="#{id}"></div></th>
									<th><div th:text="#{description}"></div></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="category : ${categories}">
									<td th:text="${category.id}"></td>
									<td th:text="${category.description}"></td>
									<td>
										<div class="btn-group pull-right">
									   		<a class="btn btn-sm btn-primary" th:href="@{/categories/form}" ><div th:text="#{form}"></div></a>
									   		<a class="btn btn-sm btn-primary" th:href="@{/categories/edit/{id}(id=${category.id})}" ><div th:text="#{edit}"></div></a>
									   		<a class="delete btn btn-sm btn-danger" th:href="@{/categories/delete/{id}(id=${category.id})}"><div th:text="#{delete}"></div></a>
									   </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>				
				</div>
		</div>
		<!-- End Content -->
		
</body>
</html>